// skeleton of site
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-text);
  padding: $padding;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titles);
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

p {
  font-size: $font-size-text;
}

ul{
  list-style: none;
}

#main {
  text-align: center;
  margin: $margin;
}