// css for all links
.skip-link {
    background-color: $color-accent;
    border-radius: 50%;
    text-align: center;
    color: $color-text;
    text-decoration: none;
    padding: $padding;
}
.skip-link:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

[class^="link-"] {
    background-color: $color-secondary;
    border-radius: 50%;
    text-align: center;
    color: $color-text;
    text-decoration: none;
    padding: $padding;
}

[class^="link-"]:hover {
    border-style: dotted;
    border-color: $color-accent;
}

a {
    text-decoration: none;
    color: $link-color;
}