@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-primary: #2ec4b6;
  --color-accent: #e9da68;
  --color-secondary: #E18f8d;
  --color-background: #007ea7;
  --color-bubbles: #e7feff;
  --color-text: black;
  --color-link: #2ec4b6;
  --font-titles: "DynaPuff", system-ui;
  --font-text: "Montserrat Alternates", sans-serif;
  --font-weight-strong: 500;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  padding: 0.3rem;
}
nav ul li a {
  padding: 0.3rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.35rem;
  font-weight: 500;
  border-radius: 30px;
  background-color: #e9da68;
  color: black;
}
nav ul li a:visited {
  color: #007ea7;
}

@media (min-width: 31em) {
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul li a {
    font-size: 2rem;
    transition: 1s;
  }
  nav ul li a:hover {
    color: black;
    background-color: #2ec4b6;
  }
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titles);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.35rem;
}

p {
  font-size: 1.15rem;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-link {
  background-color: #e9da68;
  border-radius: 50%;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 0.75rem;
}

.skip-link:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.link-github svg {
  background-color: none;
  max-height: 15px;
}

[class^=link-] {
  background-color: #E18f8d;
  border-radius: 50%;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 0.75rem;
}

[class^=link-]:hover {
  border-style: dotted;
  border-color: #e9da68;
}

a {
  text-decoration: none;
  color: black;
  background-color: #e7feff;
  border-radius: 30px;
  padding: 0.3rem;
}
