@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-primary: #2ec4b6;
  --color-accent: #e9da68;
  --color-secondary: #E18f8d;
  --color-background: #007ea7;
  --color-bubbles: #e7feff;
  --color-text: black;
  --color-link: #2ec4b6;
  --font-titles: "DynaPuff", system-ui;
  --font-text: "Montserrat Alternates", sans-serif;
  --font-weight-strong: 500;
}

#about .container:first-child {
  text-align: left;
}

#about .container:nth-child(2) {
  text-align: right;
}

#about .container ul li::before {
  content: "🐠";
}

@media (min-width: 31em) {
  #about .container:first-child h2::after {
    content: "🐙";
  }

  #about .container:nth-child(2) h2::before {
    content: "🦀";
  }
}
#contribute .container:first-child {
  text-align: right;
}

#contribute .container:nth-child(2) {
  text-align: left;
}

.page-footer {
  margin: 10px;
  border: 10px dotted #2ec4b6;
}

.page-footer .container {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.page-footer .container p:first-child {
  order: 2;
}

.page-footer .container ul {
  order: 1;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "twitter rssfeed" "github subscribe";
}

.page-footer .container ul li {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-footer .container ul li:first-child {
  grid-area: twitter;
}

.page-footer .container ul li:nth-child(2) {
  grid-area: github;
}

.page-footer .container ul li:nth-child(3) {
  grid-area: rssfeed;
}

.page-footer .container ul li:nth-child(4) {
  grid-area: subscribe;
  font-size: smaller;
}

.page-footer .container p:nth-child(3) {
  order: 3;
}

.page-footer .container p:nth-child(4) {
  order: 4;
}

@media (min-width: 31em) {
  .page-footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: " created ul" " crafted ul" " contri ul";
  }

  .page-footer .container p:first-child {
    grid-area: created;
  }

  .page-footer .container ul {
    grid-area: ul;
  }

  .page-footer .container p:nth-child(3) {
    grid-area: crafted;
  }

  .page-footer .container p:nth-child(4) {
    grid-area: contri;
  }

  .page-footer .container ul li:nth-child(4) {
    font-size: 1.15rem;
  }
}
header {
  margin-top: 30px;
}

header .container {
  text-align: center;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: " title title" " secTitle secTitle" " creator link";
  column-gap: 10px;
}

header .container h1 {
  border: 10px dotted #2ec4b6;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3rem;
  font-size: 4rem;
  grid-area: title;
}

header .container h2 {
  margin: 10px;
  font-size: 1.75rem;
  grid-area: secTitle;
}

header .container p {
  grid-area: creator;
}

header .container a {
  grid-area: link;
  align-self: center;
}

@media (min-width: 31em) {
  header {
    position: relative;
  }

  header .container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "title title title" "link secTitle creator";
  }

  header .container h1::before {
    content: "🐳";
    display: inline-block;
    width: 13%;
    height: 50%;
    position: absolute;
    top: 2%;
    left: 2%;
  }

  header .container h1::after {
    content: "🦈";
    display: inline-block;
    width: 13%;
    height: 50%;
    position: absolute;
    top: 2%;
    right: 2%;
  }

  header .container h1 {
    font-size: 6rem;
    padding: 30px;
    max-width: 100%;
  }

  header .container h2 {
    font-size: 2.25rem;
  }

  header .container p {
    align-self: center;
    justify-self: center;
  }

  header .container a {
    justify-self: center;
  }
}
nav {
  text-align: center;
  border-top: 10px dotted #2ec4b6;
  border-bottom: 10px dotted #2ec4b6;
  margin: 10px;
}

nav ul {
  padding: 0;
}
nav ul li {
  padding: 0.3rem;
}
nav ul li a {
  padding: 0.3rem;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.35rem;
  font-weight: 500;
  border-radius: 30px;
  background-color: #e9da68;
  color: black;
}
nav ul li a:visited {
  color: #007ea7;
}

@media (min-width: 31em) {
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul li a {
    font-size: 1.75rem;
    transition: 1s;
  }
  nav ul li a:hover {
    color: black;
    background-color: #2ec4b6;
  }
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-text);
  padding: 0.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titles);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.35rem;
}

p {
  font-size: 1.15rem;
}

ul {
  list-style: none;
}

main {
  padding: 5rem;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.skip-link {
  background-color: #e9da68;
  border-radius: 50%;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 0.75rem;
}

.skip-link:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.link-github svg {
  background-color: none;
  max-height: 15px;
}

[class^=link-] {
  background-color: #E18f8d;
  border-radius: 50%;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 0.75rem;
}

[class^=link-]:hover {
  border-style: dotted;
  border-color: #e9da68;
}

.link-support {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  background-color: #e7feff;
  border-radius: 30px;
  padding: 0.3rem;
}
