//#about
/*#about .container:first-child{
    
}
#about .container:nth-child(2){
    
}*/

#about .container ul li::before {
    content: "🐠";
}

@include breakpoint(computer) {
    #about .container:first-child h2::after {
        content: "🐙";
    }

    #about .container:nth-child(2) h2::before {
        content: "🦀";
    }
}
