// profile card in corner
.profile {
    @include quoteBox;
    padding: $padding;
    text-align: center;
    margin: $margin;

}

@include breakpoint(computer){

    .profile{
        float: inline-end;
    }
}