// profile card in corner
.profile {
    @include quoteBox;
    padding: $padding;
    text-align: center;
    margin: $margin;

}

.profile ul, .profile ul li {
    padding: $padding;
}

@include breakpoint(computer){

    .profile{
        float: inline-end;
    }
}