// profile card in corner
.profile {
    background-color: $color-primary;
    border-radius: $border-radius;
    border: 4px dotted $color-accent;
    padding: $padding;
    
    margin: $margin;

}

@include breakpoint(computer){

    .profile{
        float: inline-end;
    }
}