//.features and #styles

#styles {
    padding: $padding;
}

#styles h2{
    background-color: $color-accent;
    border-radius: $border-radius;
    border: 4px dotted $color-secondary;
    margin: $margin;
    text-align: center;
}

.features{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: $margin;
}

.features li {
    border: dotted 5px $color-accent;
    margin: $margin;
    padding: $padding;
    text-align: center;
}

.link-allstyles {
    display: inline-block;
    @include centered;
    text-align: center;
}



@include breakpoint(computer){
    #styles h2 {
        display: inline-block;
    }
}